body{
    padding: 50px;
}
.navbar-brand{
    margin-right: 20%;
}
.nav-item a{
    font-size: 25px;
}
.text-center11{
      color: darkred;
      font-size: 30px;
}
#slideshow{
    padding: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.row{
    
    padding-left: 50px;
    padding-right: 50px;
}
.contact{
    text-align: center;
}
.tab{
    background-color: black;
    color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 300px;
    scrollbar-highlight-color: whitesmoke;
    border-style: groove;
}


