#oil,#air,#cool,#brakes,#services,#seven,p,h2{
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}
#oil,#air,#cool,#brakes,#services,#seven{
  font-family: 'Copse', serif;
  font-size: 16px;
}
#services{
  background-color: #a55c1b;
  background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
  color: white;
  font-weight: 300;
}
