.navbar-brand{
    margin-right: 20%;
  }
.nav-item a{
    font-size: 25px;
  }
.text-center11{
      color: darkred;
      font-size: 30px;
  }
.card{
   background-color: khaki;
}
#oil,#air,#cool,#brakes,#services,#seven,p,h2{
  text-align: center;
  font-size: 16px;
  font-weight: 200;
}
#oil,#air,#cool,#brakes,#services,#seven,#service{
  font-family: 'Copse', serif;
  font-size: 16px;
}
#services{
  background-color: #a55c1b;
  background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
  color: white;
  font-weight: 300;
}
#oil,#air,#cool,#brakes,#service,#seven{
  display: none;
}
.server{
  font-size: 6px;
}
.title{
  font-size: 25px;
  font-weight: 700;
}
.p-img{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  text-decoration: darkgray;
}
#air .p-img{
  padding-top: 15px;
}
