.about{
    display: none;
}
body{
    padding: 50px;
}
#slideshow{
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}
.card{
   background-color: khaki;
}
.topnav{
   background-color: black;
   padding: 20px;
   font-size: xx-large;
}
.tab1{
    background-color: orange;
    padding: 100px;
    height: 50px;
    text-align: center;
}
.tab2{
    background-color: black;
    height: 400px;
    color: whitesmoke;
    padding: 200px;
    padding-top: 50px;
}
.row{
    padding: 50px;
}    
